name: Generate Snake Animation
on:
  schedule:
    - cron: "0 */6 * * *" # 每6小时运行一次
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: HoshizukiMio # 替换成你的用户名
          svg_out_path: dist/github-contribution-grid-snake.svg
          svg_out_path_dark: dist/github-contribution-grid-snake-dark.svg
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add dist
          git commit -m "Generate new snake animation" || exit 0
          git push
